body{
    background-color: rgb(230, 230, 230);
}
.form-container{
    max-width: 550px;
    padding: 1rem;
    background-color: white;
    border: solid 1px white;
    border-radius: 20px;
}

.form-select {
    z-index: 10; 
    position: relative; 
}
