body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f8ff; 
    color: #333;
}

.text-white{
    background: linear-gradient(135deg, #012a4a, #01497c, #00608a, #002235);
}

.container-fluid{
    max-width: 80%;
}

.container{
    margin-top: 0;
}

.lead{
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 40px; 
}



h2 {
    font-size: 2.5rem;
    color: #004f80;  
    font-weight: bold;
}

.profile-card {
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border: 4px solid #007bff;
    border-radius: 50%;
}

.text-profile {
    font-size: 14pt;
    color: #333;
}

.alerta {
    min-height: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.project-card {
    background: #ffffff;
    border: 1px solid #ddd; 
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-1px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.project-card h5 {
    color: #004f80;
    font-size: 24pt;
    font-weight: bold;
}

.project-card p {
    color: #666;
    font-size: 14pt;
}

.project-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 12px; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.project-image {
    width: 90%; 
    height: 200px; 
    display: block; 
    transition: transform 0.3s ease; 
}

.project-image-container:hover .project-image {
    transform: scale(1.01); 
    
}

.descricao-card {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14pt;
    color: #333;
}

.progress {
    height: 17px; 
    border-radius: 5px;
    background-color: #f1f1f1; 
}

.progress-bar {
    transition: width 0.5s ease;
}

.progress-bar.bg-success {
    background-color: #28a745;
    height: 17px;  
}

.progress-bar.red {
    background-color: #ff4d4d;
}

.progress-bar.yellow {
    background-color: #f7b731;
}

.progress-bar.green {
    background-color: #2ecc71;
}

.filter-section {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.filter-section h5 {
    color: #004f80;
    font-weight: bold;
}

.form-control, .form-range {
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 15px;
}

.form-check-label {
    font-size: 14pt;
    color: #333;
}

.btn-warning {
    background-color: #f7b731;  
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #ff8c00;
    color: #fff;
}

.alert-info {
    background-color: #e3f2fd;
    color: #004f80;
    border-radius: 8px;
    padding: 10px;
}

footer{
    p{
        color: white;
    }
}

.input-group {
    display: flex;
    align-items: stretch;
}

.input-group .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
    height: 40px; 
}

.input-group .btn {
    border-radius: 0 0.25rem 0.25rem 0;
    height: 40px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}


.stats-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
}
.stats-card h3, .stats-card h4 {
    margin: 0;
}

.stats-card .stat-item:last-child {
    margin-bottom: 0;
}
