{% extends 'base.html' %}
{% load static %}

{% block title %}Projetos{% endblock %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
{% endblock %}

{% block conteudo %}

{% if user.is_authenticated %}
    <div class="card-header py-3">
        <div class="container text-center">
            <p class="lead">Encontre as melhores oportunidades</p>
        </div>
    </div>

    <div class="container mt-3 mb-3">
        <div class="card stats-card text-center">
            <div class="row">
                <div class="col-md-4 stat-item" style="border-right: 2px solid #ccc;">
                    <h4>Projetos Ativos</h4>
                    <p class="display-5">{{ total_projetos }}</p>
                </div>
                <div class="col-md-4 stat-item" style="border-right: 2px solid #ccc;">
                    <h4>Arrecadação</h4>
                    <p class="display-5">$2.5M</p>
                </div>
                <div class="col-md-4 stat-item">
                    <h4>Apoiadores</h4>
                    <p class="display-5">18.2K</p>
                </div>
            </div>
        </div>
    </div>

    <main class="container-fluid py-5">
        <div class="row">
            <aside class="col-12 col-md-3 custom-margin">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Categorias e pesquisar
                    </div>
                    <div class="card-body">
                        <form class="input-group mb-4" method="GET">
                            <input type="text" class="form-control" name="query" placeholder="pesquisar..." aria-label="Search">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="{% url 'categoria' 'Tecnologia' %}" class="text-decoration-none">Tecnologia</a></li>
                            <li class="list-group-item"><a href="{% url 'categoria' 'Saude' %}" class="text-decoration-none">Saude</a></li>
                            <li class="list-group-item"><a href="{% url 'categoria' 'Economia' %}" class="text-decoration-none">Economia</a></li>
                            <li class="list-group-item"><a href="{% url 'categoria' 'Negocios' %}" class="text-decoration-none">Negócios</a></li>
                            <li class="list-group-item"><a href="{% url 'categoria' 'Meio_ambiente' %}" class="text-decoration-none">Meio-ambiente</a></li>
                        </ul>
                    </div>
                </div>
            </aside>


            <div class="col-12 col-md-6 custom-margin">
                {% for projeto in projetos %}
                <article class="mb-4 project-card text-center mx-auto" style="max-width: 600px;">
                    <a href="{% url 'ver_projeto' projeto.id_mongo %}" class="text-decoration-none text-dark">
                        <div class="project-image-container">
                            <img src="{{ projeto.projeto_logo.url }}" alt="imagem do post" class="img-fluid project-image rounded">
                        </div>
                    </a>
                    <h2 class="h4 mt-3">{{ projeto.titulo }}</h2>
                    <p>{{ projeto.descricao }}</p>
                    <div class="d-flex justify-content-between text-muted">
                        <span>{{ projeto.categoria }}</span>
                        <span>June 24, 2020</span>
                    </div>
                    <div class="progress my-3">
                        <div 
                            class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                            role="progressbar" 
                            style="width: {{ projeto.percentual_projeto }}%;" 
                            aria-valuenow="{{ projeto.total_investidor }}" 
                            aria-valuemin="0" 
                            aria-valuemax="100">
                            {{ projeto.percentual_projeto }}%
                        </div>
                    </div>
                    <div>
                        {{ projeto.total_investidor }} R$ / {{ projeto.meta_investidor }} R$
                    </div>
                </article>
                {% empty %}
                
                    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
                        <div class="card project-card mb-3">
                            <div class="alert alert-primary d-flex align-items-center" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <div>
                                    Não há projetos no momento
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
 
            <aside class="col-12 col-md-3 custom-margin">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        Profile
                    </div>
                    <div class="card-body text-center">
                        {% if usuario.foto %}
                            <img src="{{ usuario.foto.url }}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 100px; height: 100px;">
                        {% else %}
                        <img src="{% static 'perfil/imagens/sem_perfil.png' %}" alt="Foto do Usuário" class="rounded-circle" style="width: 100px; height: 100px;">
                        {% endif %}
                        <h5 class="card-title">{{ usuario.nome }}</h5>
                        <p class="card-text">{{ usuario.descricao }}</p>
                        <a href="{% url 'perfil' %}" class="btn btn-primary btn-sm">Ver perfil</a>
                    </div>
                </div>
            </aside>
        </div>

        <nav class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </main>
    <footer class="bg-dark py-3">
        <div class="container text-center">
            <p class="mb-0">Copyright 2024 Smartcode Company Co. Ltd. | Design by a gente 
        </div>
    </footer>
{% else %}
    <div class="container-fluid mt-5">
        <div class="container">
            <center>
                <h3>Você precisa estar logado para ver os projetos.</h3>
            </center> 
        </div>
    </div>
{% endif %}

{% endblock %}