{% extends 'base.html' %}
{% load static %}

{% block title %}Projetos{% endblock %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
{% endblock %}

{% block conteudo %}
    {% if user.is_authenticated %}
        <div class="container my-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="profile-card">
                        <img src="https://via.placeholder.com/100" alt="Profile Image" class="profile-img mb-3">
                        <h5>{{ usuario.nome }}</h5>
                        <p>{{ usuario.cidade }},{{ usuario.estado }}</p>
                        <p>{{ usuario.sobre}}</p>
                    </div>
                </div>
                
                <div class="col-md-6">
                    {% for projeto in projetos %}
                         <div class="project-card">
                            <img src="https://via.placeholder.com/50" alt="Projeto Logo" class="float-start me-3">
                            <div class="titulo-card">
                                <h5>{{ projeto.titulo }}</h5>
                            </div>
                            <div class="conteudo-card">
                                <h6>{{ projeto.descricao}}</h6>
                            </div>
                            {% if projeto.percentual_projeto < 50.00 %}
                                <p style="Color: #fc030b; font-weight: 700;"> {{ projeto.percentual_projeto }} </p>
                            {% elif projeto.percentual_projeto >= 50.00 and projeto.percentual_projeto < 75.00 %}
                                <p style="Color: #f0a502; font-weight: 700;"> {{ projeto.percentual_projeto }} </p>
                            {% elif projeto.percentual_projeto >= 75.00 %}
                                <p style="Color: #0cad00; font-weight: 700;"> {{ projeto.percentual_projeto }} </p>
                            {% endif %}

                            <div class="progress">
                                <div class="progress-bar" style="width: {% if projeto.percentual_projeto > 100 %} 100% {% else %} {{ projeto.percentual_projeto }}% {% endif %};
                                background-color: {% if projeto.percentual_projeto >= 75 %} green {% elif projeto.percentual_projeto >= 50 and projeto.percentual_projeto < 75.00 %} yellow {% else %} red {% endif %};
                                height: 100%; border-radius: 10px;"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-9">
                                    <p class="font-weight-bold" style="color: #034994; font-weight: 700;">Meta: {{ projeto.total_investidor }}/{{ projeto.meta_investidor }}</p>
                                </div>
                                <div class="col-md-3">
                                    <div class="d-flex justify-content-end">
                                        <a href="{% url 'detalhes_projeto' projeto.id_mongo %}" class="btn btn-warning">Detalhes</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    {% empty %}
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                <strong>Atenção:</strong> Nenhum projeto encontrado no momento.
                            </div>
                        </div>
                    {% endfor %}
                    <button class="btn btn-view-more w-100 mt-3">Ver Mais</button>
                </div>
                

                <div class="col-md-3">
                    <div class="filter-section">
                        <h5>Encontre qualquer Projeto</h5>
                        <input type="text" class="form-control mb-3" placeholder="Pesquisar...">
                        <h6>Filtros</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="alimentos" checked>
                            <label class="form-check-label" for="alimentos">Alimentos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="sistemas" checked>
                            <label class="form-check-label" for="sistemas">Sistemas</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="cultura">
                            <label class="form-check-label" for="cultura">Cultura</label>
                        </div>
                        <h6 class="mt-3">Metas</h6>
                        <input type="range" class="form-range" min="0" max="100" value="24">
                        <span>24%</span>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container-fluid mt-5">
            <div class="container">
                <h3 class="text-light">Você precisa estar logado para ver os projetos.</h3>
            </div>
        </div>
        {% endif %}
{% endblock %}


