{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil do Usuário{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'perfil/css/main-css.css' %}">
{% endblock %}


{% block conteudo %}
    {% if user.is_authenticated %}
        <div class="container-fluid mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-sidebar">
                            {% if usuario.foto %}
                            <div class="d-flex justify-content-center">
                                <img src="{{ usuario.foto.url }}" alt="Foto do Usuário" class="profile-img">
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'perfil/imagens/sem_perfil.png' %}" alt="Foto do Usuário" class="profile-img">
                            </div>
                            {% endif %}
                            <h3 class="text-center">{{ nome }}</h3>
                            <hr>
                            <h5>Informações de Contato</h5>
                            <p class="text-muted"><strong>Email:</strong> {{ usuario.email }}</p>
                            <p class="text-muted"><strong>Telefone:</strong> {{ numero }}</p>
                            <p class="text-muted"><strong>Cidade:</strong> {{ usuario.cidade }}/{{ usuario.estado }} </p>
                            <hr>
                            <h5>Sobre</h5>
                            <p class="text-muted">
                                {% if usuario.sobre %}
                                    {{ usuario.sobre }}
                                {% else %}
                                    <p><strong>Adicione uma descrição</strong></p>
                                {% endif %}
                            </p>
                            <div class="d-flex justify-content-center mb-3 botoes">
                                <button type="button" class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#editar_perfil">
                                    Editar perfil
                                </button>
                                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'criar_projeto' %}'">
                                    Criar projeto
                                </button>
                            </div> 
                        </div>
                    </div>

                    <div class="col-md-8">
                        <h3 class="mb-4 titulo-projetos">Meus projetos </h3>

                
                        {% for projeto in projetos %}
                            <div class="project-card">
                                <div class="d-flex align-items-center">
                                    <img src="{{ projeto.projeto_logo.url }}" alt="Projeto Logo" class="rounded-circle me-3 project_img">
                                    <div class="text-card">
                                        <h5>{{ projeto.titulo }}</h5>
                                        <p class="text-muted small">{{ projeto.descricao }}</p>
                                    </div>
                                </div>
                                <div class="descricao-card">
                                    <center>
                                        <p style="color: black;">{{ projeto.descricao }}</p>
                                    </center>
                                </div>
                                <div class="progress my-2">
                                    <div class="progress-bar {% if projeto.percentual_projeto >= 75 %}green{% elif projeto.percentual_projeto >= 50 %}yellow{% else %}red{% endif %}" 
                                         style="width: {{ projeto.percentual_projeto }}%;"></div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <p class="text-primary fw-bold">Meta: {{ projeto.total_investidor }}/{{ projeto.meta_investidor }}</p>
                                </div>
                                <div class="botoes-projeto">
                                    <a href="{% url 'ver_projeto' projeto.id_mongo %}" class="btn btn-warning btn-sm">Detalhes</a>
                                    <a href="{% url 'excluir_projeto' projeto.id_mongo %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este projeto?')">Excluir</a>
                                    <a href="{% url 'editar_projeto' projeto.id_mongo %}" class="btn btn-info">Editar</a>
                                </div>
                            </div>
                        {% empty %}
                            {% comment %} <div class="card project-card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Você não possui projetos</h5>
                                    <p class="card-text text-muted">hello world</p>
                                    <a href="#" class="btn btn-warning">Ver Detalhes</a>
                                </div>
                            </div> {% endcomment %}
                            <div class="alert alert-primary d-flex align-items-center" role="alert">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <div>
                                    Você não possui projetos
                                </div>
                              </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        {% comment %} EDIÇÃO DAS INFORMAÇÕES DO USUARIO {% endcomment %}
        <div class="modal fade" id="editar_perfil" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-center">
                        <h5 class="modal-title" id="TituloModalCentralizado">Alterar informações</h5> 
                    </div>
                    <div class="modal-body">
                        <div class="form-section">
                            <form method="POST" action="{% url 'editar_usuario' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div style="margin-bottom: 20px;">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="text-danger">
                                                {% for error in field.errors %}
                                                <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        </div>
                                {% endfor %}
                                <div class="modal-footer">
                                    <input type="submit" class="btn-edit" value="Salvar mudanças">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
    <p>Você precisa estar logado para ver esta página.</p>
    {% endif %}
{% endblock %}

{% block js_extra %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Seleciona todos os botões "Ver Mais"
    const buttons = document.querySelectorAll(".ver-mais");

    // Adiciona evento a cada botão
    buttons.forEach(function (button) {
        button.addEventListener("click", function () {
            // Obtém o ID da descrição vinculada
            const id = button.getAttribute("data-id");
            const descricao = document.getElementById(`descricao-${id}`);

            // Verifica se a descrição existe
            if (descricao) {
                // Alterna entre expandido/contraído
                if (descricao.classList.contains("expandida")) {
                    descricao.classList.remove("expandida");
                    button.textContent = "Ver Mais";
                } else {
                    descricao.classList.add("expandida");
                    button.textContent = "Ver Menos";
                }
            } else {
                console.error(`Elemento descrição não encontrado: descricao-${id}`);
            }
        });
    });
});
</script>

{% endblock %}

