{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil do Usuário{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'post/css/post.css' %}">
{% endblock %}

{% block conteudo %}
<div class="container-fluid">
    <main class="tm-main">
        <div class="row tm-row">
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                <video width="954" height="535" controls class="tm-mb-40 w-100">
                    <source src="video/wheat-field.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="row tm-row">
            <div class="col-lg-8 tm-post-col">
                <div class="tm-post-full">
                    <div class="mb-4">
                        <h2 class="pt-2 tm-color-primary tm-post-title">Single Post of Xtra Blog HTML Template</h2>
                        <p class="tm-mb-40">June 16, 2020 posted by Admin Nat</p>
                        <p>
                            This is a description of the video post. You can also have an image instead of
                            the video. You can free download 
                            <a rel="nofollow" href="https://templatemo.com/tm-553-xtra-blog" target="_blank">Xtra Blog Template</a> 
                            from TemplateMo website. Phasellus maximus quis est sit amet maximus.
                        </p>
                        <p>
                            Duis pretium efficitur nunc. Mauris vehicula nibh nisi. Curabitur gravida neque
                            dignissim, aliquet nulla sed, condimentum nulla. Pellentesque id venenatis
                            quam, id cursus velit.
                        </p>
                        <span class="d-block text-end tm-color-primary">Creative . Design . Business</span>
                    </div>
                    <!-- Comments -->
                    <div>
                        <h2 class="tm-color-primary tm-post-title">Comments</h2>
                        <hr class="tm-hr-primary tm-mb-45">
                        <div class="tm-comment tm-mb-45 d-flex">
                            <figure class="me-3">
                                <img src="img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                                <figcaption class="tm-color-primary text-center">Mark Sonny</figcaption>
                            </figure>
                            <div>
                                <p>
                                    Praesent aliquam ex vel lectus ornare tristique. Nunc et eros
                                    quis enim feugiat tincidunt et vitae dui.
                                </p>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="tm-color-primary">REPLY</a>
                                    <span class="tm-color-primary">June 14, 2020</span>
                                </div>
                            </div>
                        </div>
                        <form action="" class="mb-5 tm-comment-form">
                            <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                            <div class="mb-4">
                                <input class="form-control" name="name" type="text" placeholder="Your Name">
                            </div>
                            <div class="mb-4">
                                <input class="form-control" name="email" type="email" placeholder="Your Email">
                            </div>
                            <div class="mb-4">
                                <textarea class="form-control" name="message" rows="6" placeholder="Your Comment"></textarea>
                            </div>
                            <div class="text-end">
                                <button class="btn btn-primary btn-sm">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <aside class="col-lg-4 tm-aside-col">
                <div class="tm-post-sidebar">
                    <hr class="mb-3 tm-hr-primary">
                    <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                    <ul class="list-unstyled tm-mb-75">
                        <li><a href="#" class="tm-color-primary">Visual Designs</a></li>
                        <li><a href="#" class="tm-color-primary">Travel Events</a></li>
                        <li><a href="#" class="tm-color-primary">Web Development</a></li>
                        <li><a href="#" class="tm-color-primary">Video and Audio</a></li>
                        <li><a href="#" class="tm-color-primary">Etiam auctor ac arcu</a></li>
                        <li><a href="#" class="tm-color-primary">Sed im justo diam</a></li>
                    </ul>
                </div>
            </aside>
        </div>
        <footer class="row tm-row">
            <div class="col-md-6 col-12 text-muted">
                Design: <a rel="nofollow" href="https://templatemo.com" target="_blank" class="tm-external-link">TemplateMo</a>
            </div>
            <div class="col-md-6 col-12 text-end text-muted">
                &copy; 2020 Xtra Blog Company Co. Ltd.
            </div>
        </footer>
    </main>
</div>
{% endblock %}
