{% extends 'base.html' %}
{% load static %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'ver_projeto/projeto.css' %}">
{% endblock %}

{% block title %}Detalhes do Projeto{% endblock %}

{% block conteudo %}
    {% if user.is_authenticated %}
        <div class="container mt-5">
            <div class="project-title">
                <h1>DETALHES DO PROJETO</h1>
            </div>
            <div class="profile-card card1">
                <h1>Dono do Projeto:</h1>
                <div class="align-items-center">
                    {% if usuario.foto %}
                        <img src="{{ usuario.foto.url }}" alt="Imagem do Dono" class="profile-img1">
                    {% else %}
                        <img src="https://via.placeholder.com/50" alt="Imagem do Dono" class="profile-img1">
                    {% endif %}
                    <h1>{{ usuario.nome }}</h1>
                    <h1 class="profile-details">{{ usuario.sobre }}</h1>
                </div>
            </div>

            <div class="linha">
                <hr>
            </div>
        
            <h2 class="project-title">{{ projeto.titulo}}</h2>

            <div class="linha">
                <hr>
            </div>


            <div id="projectCarousel" class="carousel slide section-spacing" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for imagem in projeto.imagens.all %}
                    <div class="carousel-item active">
                        <img src="{{ imagem.imagem.url }}" alt="Imagem do Projeto">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        
        
            <div class="mt-4">
                <h2 class="project-text">
                    {{ projeto.descricao }}
                </h2>
            </div>
            
            <div class="linha2">
                <hr>
            </div>

            
                <div class="espaco">
                    <h4>CATEGORIA</h4>
                </div>

                <div class="categoria">
                    <ul class="categories-list">
                        <li>{{ projeto.categoria }}</li>
                    </ul>
                </div>
            

            <div class="linha">
                <hr>
            </div>

        
        </div>
    {% else %}
    {% endif %}
{% endblock %}