
.progress-bar-container {
    width: 100%; 
    background-color: #f0f0f0; 
    border-radius: 5px;
    position: relative;
    height: 20px; 
    overflow: hidden; 
}


.progress-bar {
    height: 100%; 
    background-color: #007bff; 
    width: 0%; 
    transition: width 1s ease-in-out, background-color 1s ease-in-out; 
}


.progress-bar-medium {
    background-color: #ffc107; 
}


.progress-bar-full {
    background-color: #28a745; 
}


.progress-bar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 14px;
}