body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #001f3f;
    padding: 0.5rem 0;
    color: #efe6e6; 
}

.navbar-brand{
    color: #efe6e6;
  }

.nav-link{
    color: #efe6e6;
    a{
        text-decoration: none;
        transition: none !important; 
        animation: none !important;
    }
}

.nav{
    font-size: 15pt;
}

.navbar-brand {
    font-size: 1rem;
}

.navbar .nav-link {
    padding: 0.25rem 0.75rem; 
    font-size: 0.9rem;
    transition: none;
    a{
        text-decoration: none;
        transition: none !important; 
        animation: none !important;
    }
}

