*{
    margin: 0px;
    padding: 0px;
}
p{
    color: #efe6e6;
}


.container{
    background-color: #01172F;
}

.navbar{
    background-color: #01172F;
}

.navbar-brand{
    color: #efe6e6;
  }

.nav-link{
    color: #efe6e6;
}

.nav{
    font-size: 15pt;
}

.pagina-header{
    background-color: #01172F;
    color: #efe6e6;
}

.middle-page{
    background-color: #01172F;
}

.texto-principal{
    margin-top: 150px;
    line-height: 1.8;
    text-align: center;
}

.titulo-principal{
    font-size: 28pt;
}

.cards{
    background-color: #01172F;
}

.sobre-nos{
    background-color: #01172F;
}
