<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\home.css">
    <title>EmpowerNet</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <p>logo</p>
        </div>
        <ul class="nav-items">
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Inovações</a></li>
            <li><a href="#">Descubra</a></li>
        </ul>
        <div class="access">
            <a href="#" id="Logar">Logar</a>
            <a href="#" id="Cadastrar">Cadastrar</a>
        </div>
    </div>
    </div>
    <div class="sobre">

    </div>
    <div class="inovacoes">

    </div>
    <div class="cadastre">

    </div>
</body>
</html>