{% extends 'base.html' %}
{% load static %}
{% block css_extra %}
<link rel="stylesheet" href="{% static 'home/css/main-css.css' %}">
{% endblock %}
{% block conteudo %}
<div class="container-fluid middle-page">
    <div class="p-3 border-bottom">
        <div class="row featurette mt-0 align-items-center">
            <div class="col-md-7 texto-principal">
                <h1 class="featurette-heading fw-bold lh-1 text-light titulo-principal">
                    Conectamos você ao futuro do empreendedorismo.
                </h1>
                <p class="lead">
                    Nossa missão é criar pontes entre startups, empreendedores e investidores para transformar ideias inovadoras em grandes realizações.
                </p>
                <div class="mt-4 d-flex gap-3 botoes">
                    <a href="{% url 'add_usuario2' %}" class="botao-grande">Cadastre-se</a>
                    <a href="{% url 'realizar_login' %}" class="botao-grande">Entrar com sua conta</a>
                </div>
            </div>
            <div class="col-md-5 text-center">
                <img class="img-fluid" width="570" height="570" src="{% static 'home/imagens/img_networking.png' %}" alt="Networking">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid cards middle-page">
    <div class="p-3 border-bottom">
        <div class="row mt-0 justify-content-center">
            <div class="col-lg-4 card-container">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'home/imagens/icone_empresario.png' %}" alt="Empresários">
                <h2 class="fw-bold text-light mt-3">Empresários</h2>
                <p>
                    Descubra startups prontas para inovar. Conheça projetos transformadores que podem dar o próximo passo!
                </p>
                <a class="botao-menor1 mt-3" href="#">Explorar ideias &raquo;</a>
            </div>
            <div class="col-lg-4 card-container">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'home/imagens/icone_startup.png' %}" alt="Startups">
                <h2 class="fw-bold text-light mt-3">Startups</h2>
                <p>
                    Exponha sua ideia para o mundo! Nossa plataforma conecta você com investidores que acreditam no potencial do seu projeto.
                </p>
                <a class="botao-menor2 teste mt-3" href="#">Cadastre seu projeto &raquo;</a>
            </div>
            <div class="col-lg-4 card-container">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'home/imagens/icone_publico_geral.png' %}" alt="Público Geral">
                <h2 class="fw-bold text-light mt-3">Público Geral</h2>
                <p>
                    Está começando um negócio ou quer uma nova oportunidade? Encontre parceiros e transforme sonhos em realidade aqui.
                </p>
                <a class="botao-menor2 mt-3" href="#">Veja como começar &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid middle-page sobre-nos px-4 py-5 text-center" id="sobre">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-light">SOBRE NÓS</h1>
        <div class="col-lg-8 mx-auto">
            <p class="mb-4">
                Na EnpowerNet, acreditamos no poder das conexões para transformar ideias em grandes realizações. 
                Nossa plataforma foi criada para facilitar a colaboração entre empreendedores, startups e investidores, 
                promovendo crescimento econômico inclusivo e sustentável.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#" class="btn btn-info btn-lg px-4 me-sm-3 fw-bold">Instagram</a>
                <a href="#" class="btn btn-info2 btn-lg px-4 me-sm-3 fw-bold">Outros projetos</a>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    {% if messages %}
        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}
    {% endif %}
</script> -->
{% endblock %}