<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registrar Usuário</h1>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" action="{% url 'add_usuario2' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Registrar">
    </form>
    <br>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>
